* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::selection{
    background-color: #006241;
    color: white;
}
.header{
    background-color: #006241;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__logo{
    width: 40px;
    margin: 5px;
}
.header__nav, .header__contain-login{
    display: none;
}
.container-login-mobile i {
    color: #fff;
    font-size: 30px;
}
.main__imagen{
    display: none;
}
.galeria__cafe{
    width: 20px;
    border: 0.5px solid white;
}
.cards__foto1{
    width: 20px;
}
.main{
    margin-top: 80px;
    padding: 15px 15px 40px;
}
.main__contain-text{
    display: flex;
    flex-direction: column;
}
.main__titulo{
    font-size: 50px;
    line-height: 1.2;
}
.main__titulo span{
    color: #006241;
}
.main__descripcion{
    font-weight: bolder;
    margin-top: 20px;
}
.galeria{
    background-color: #006241;
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
}
.galeria__cafe{
    margin-top:15px  ;
    width: 85%;
}
.contactanos{
    background-color: #1a1818;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactanos__palabra{
    color: #006241;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 30px;
}
.contactanos__formulario{
    background-color: #006241;
    padding: 15px 15px;
    color: #fff;
    width: 280px;
}
.contactanos__input input{
    font-size: 15px 0 25px;
}
.contactanos__input{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}
.contactanos__input input::placeholder, 
.contactanos__input textarea::placeholder{
    font-size: 12px;
    color: #006241;
    font-weight: bold;
}
.contactanos__input input,
.contactanos__input textarea {
    padding: 5px 5px;
    border-radius: 7.5px;
    border: 0;
    margin-top: 10px;
}
.contactanos__input input:focus,
.contactanos__input textarea:focus{
    background-color: #000;
    color: #006241;
}
.contactanos__boton{
    background-color: #006241;
    border-radius: 15px;
    width: 45%;
    border: 1px #fff solid;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    padding: 4px 0;
    transition: 0.5s all;

}
.contactanos__boton:hover{
    background-color: yellow;
    border: 1px solid yellow;
}
.cards{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__contenido1{
    background-color: #006241;
    margin-top: 45px;
    color: #fff;
    position: relative;
    width: 85%;

}
.cards__foto1{
    width: 100%;
}
.cards__titulo1 span{
    color: yellow;
}
.cards__contienetodotexto{
    padding: 20px 10px;
}
.cards__texto1{
    font-size: 12px;
    margin: 7.5px 0;
}
.cards__boton{
    background-color: #006241;
    border-radius: 7.5px;
    width: 70px;
    border: 1px #fff solid;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    padding: 5px 20px;
    transition: 0.5s all;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 12px;
}
.cards__boton:hover{
    background-color: yellow;
    border: 1px solid yellow;
}
.cards__containbtn{
    display: flex;
    flex-direction: column;
}
.cards__containbtn a{
    width: 90%;
    margin: 0px 10px 7.5px;
    text-align: center;
}
.cards__descuento{
    background-color: yellow;
    border-radius: 50%;
    width: 65px;
    border: 0.5px solid #000;
    height: 65px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    right: -25px;
}
.footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
}

.footer__contain-iniciarsesion{
    display: flex;
    flex-direction: column;
}
.footer__iniciosesion{
    color: #006241;
    font-size: 20px;
    text-decoration: none;
}
.footer_redes i{
    color: #006241;
    font-size: 22px;
}
.footer_redes{
    margin: 10px 0;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__contact{
    color: #13a574;
    text-decoration: none;
}
@media (min-width:768px) {
    .container-login-mobile{
        display: none;
    }
    .header__contain-login{
        display: block;
    }
    .header__contain-login i {
        color: #fff;
        font-size: 35px;
        padding: 10px;
    }
    .header__nav{
        display: block;
    }
    .header__nav-link{
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        margin-left: 15px;
    }
    .main__imagen{
        display: block;
        width: 80%;
    }
    .main__contiene-imagen{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main{
        display: flex;
        flex-direction: row;
        padding: 15px 30px 60px;
    }
    .main__contain-text{
        width: 50%;
    }
    .galeria{
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: space-around;
    }
    .galeria__cafe{
        width: 30%; 
        border: 0.5px solid white;
    }
    .contactanos__formulario{
        width: 400px;
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
    .cards__contenido1{
        width: 40%;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    }
    @media (min-width:1024px) {
        .main__imagen{
            display: block;
            width: 320px;
            margin-left: 50px;
        }
        .main{
            padding: 15px 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .galeria__cafe{
            width: 300px;
            margin: 25px;
            border: 0.5px solid white;
        }
        .galeria{
            justify-content: center; 
        }
        .contactanos__formulario{
            width: 800px;
        }
        .contactanos__palabra{
            font-size: 35px;
        }
        .contactanos__input label{
            font-size: 22px;
        }            
        .contactanos__botoncaja{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contactanos__boton{
            font-size: 17px;
        }
        .cards__containbtn{
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cards__containbtn a {
            margin-left: 7.5px;
        }
        .cards__contenido1{
            width: 450px;
            height: 420px;
        }
        .footer{
            height: 150px;
        }
    }
    @media (min-width:1380px) {
        .main__titulo{
            font-size: 50px;
        }
        .main__descripcion{
            font-size: 18px;
        }
        .cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            align-items: center;
            padding: 10px 10px;
            margin-left: 10px;
        }
        .cards__contenido1{
            width: 500px;
            margin-left: 15px;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
        .cards__contienetodotexto{
            padding: 5px 5px;
            margin-left: 20px;
        }   
        .cards__texto1{
            font-size: 15px;
            margin-bottom: 5px;
        }
        .cards__containbtn{
            margin: 5px;
        }  
    }